body {
  margin: 0;
}
.site-footer {
  font-size: 1.8rem;
  padding: var(--gutter);
  position: sticky;
  background-color: #151515;
  top: 100vh;
  z-index: 1;
}

.site-footer__groups {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter) * -1);
  margin-top: calc(var(--gutter) * -1);
}
.site-footer__group {
  box-sizing: border-box;
  display: flex;
  order: 2;
  /* background-color: #151515; */
  padding-left: var(--gutter);
  padding-top: var(--gutter);
  width: 100%;
}
@media (min-width: 768px) {
  .site-footer__group {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .site-footer__group {
    order: 0;
    width: 16.66%;
  }
}
.site-footer__group--big {
  order: 1;
  width: 100%;
}
@media (min-width: 1280px) {
  .site-footer__group--big {
    order: 0;
    width: 66.68%;
  }
}
.site-footer__socials {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter) * -1);
  margin-top: calc(var(--gutter) * -1);
}
.site-footer__social {
  box-sizing: border-box;
  display: flex;
  font-size: 1.4rem;
  line-height: 1;
  padding-left: var(--gutter);
  padding-top: var(--gutter);
  width: 50%;
}
@media (min-width: 768px) {
  .site-footer__social {
    width: 25%;
  }
}
.site-footer__social-inner {
  background: var(--background-contrast-color);
  border-radius: var(--border-radius);
  display: block;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
@media (hover: hover) {
  .site-footer__social-inner:hover .site-footer__social-content {
    transform: translateY(calc(-100% + 4rem));
  }
  .site-footer__social-inner:hover .site-footer__social-icon,
  .site-footer__social-inner:hover .site-footer__social-title {
    background: #151515;
    color: #f7f7f7;
  }
}
.site-footer__social-inner:before {
  content: "";
  display: block;
  padding-bottom: 75%;
  width: 100%;
}
/* .site-footer__social-content {
  align-items: flex-end;
  display: flex;
  inset: var(--gutter);
  justify-content: flex-end;
  position: absolute;
  transition: transform 0.65s cubic-bezier(0.19, 1, 0.22, 1);
} */
.site-footer__social-title {
  align-items: center;
  background: #f7f7f7;
  border-radius: var(--border-radius-small);
  color: #151515;
  display: flex;
  height: 4rem;
  padding: 0 1rem;
  transition-duration: 0.65s;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.site-footer__social-icon {
  align-items: center;
  background: #f7f7f7;
  border-radius: 100%;
  box-sizing: border-box;
  color: #151515;
  display: flex;
  flex-shrink: 0;
  height: 4rem;
  justify-content: center;
  margin-left: 0.2rem;
  padding: 1rem;
  width: 4rem;
}
